@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$principalFont: 'Montserrat', sans-serif;

$background-color: #ddf4dc;
$wine: #30011E;
$primaryColor: #30321C;
$secondaryColor: #e0e0e0;